<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>
<body>
    <ul class="nav container">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <%if(user?.name) {%>
        <li class="nav-item disabled">
            <a class="nav-link text-capitalize font-weight-bold text-<%= user?.name ? 'success' : 'secondary' %>"><%= user?.name ?? 'Guest' %></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <%}else {%>
        <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
        </li>
        <%}%>
      </ul>
    <div class="container">
        <% for(msg in messages) { %>
            <% if(messages.hasOwnProperty(msg)) { %>
                <% messages[msg].forEach((v, i, m) => { %>
                    <div class="alert alert-<%=msg%>" role="alert">
                        <%=v%>
                    </div>
                <% }) %>
            <% } %>
        <%}%>
        <%-body%>
    </div>
</body>
</html>